<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
		<listeners>
		<listener class-name="Testscript.Listeners">
			</listener>
	</listeners>
	<parameter name="browser" value="chrome"></parameter>
  <test thread-count="5" name="Test">

    <classes>

   <class name="Testscript.QALegendItemsTest">
      <methods>
		<include name="additem"></include>
		 </methods>
  </class>
     <class name="Testscript.QALegendItemsTest">
      <methods>
		<include name="deleteItem"></include>
		 </methods>
  </class>
     <class name="Testscript.QALegendItemsTest">
      <methods>
		<include name="editItem"></include>
		 </methods>
  </class>
     <class name="Testscript.QALegendClientsTest">
      <methods>
		<include name="addClient"></include>
		 </methods>
  </class>
     <class name="Testscript.QALegendClientsTest">
      <methods>
		<include name="editClientsDetials"></include>
		 </methods>
  </class>
     <class name="Testscript.QALegendClientsTest">
      <methods>
		<include name="addAlphabetZipCode"></include>
		 </methods>
  </class>
     <class name="Testscript.QALegendEstimateTest">
      <methods>
		<include name="addEstimateForm"></include>
		 </methods>
  </class>
     <class name="Testscript.QALegendProjectTest">
      <methods>
		<include name="addNewproject"></include>
		 </methods>
  </class>
     <class name="Testscript.QALegendNoteTest">
      <methods>
		<include name="addNote"></include>
		 </methods>
  </class>
       <class name="Testscript.QALegendInvoiceTest">
      <methods>
		<include name="invoicepayment"></include>
		 </methods>
  </class>
  
 

 
	  
	  
	
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
